
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta property="og:title" content="discord-auth-example" />
    <meta property="og:image" content="image/favicon.ico" /> 
    <meta property="og:description" content="discord-auth-example using express"/>
    <meta name="author" content="drnk.28"/>
    <meta name="theme-color" content="#5865f2" />
    <meta name="keywords" content="HTML, CSS, JavaScript, Ejs, Express"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css" rel="stylesheet"/>
    <link rel="icon" href="image/favicon.ico">
    <link rel="stylesheet" href="static/style.css"/>
    <title>Discord-auth-example | Drnk.28</title>
  </head>

  <body>
    <header>
      <div id="particles"></div>
      <div class="info-text">
        <h1>✨<br>Hi Welcome</h1>
        <h3>We need some things that we are required to use<br>login with discord to continue</h3>
        <!-- paste your authorization link here, an example is in README.md -->
        <a href="Your authorization is here" class="login">Login<span></span><i class="bx bx-rocket"></i></a>
      </div>
    </header>

  </body>
  
    <script src="https://cdnjs.cloudflare.com/ajax/libs/particles.js/2.0.0/particles.min.js"></script>
    <script src="/components/particles.js"></script>
</html>
